# Dependencies
node_modules/
package-lock.json

# User Sessions
session_data/
chrome_session/
Default/
Local State

# Logs & Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
probe_api.js

# OS files
.DS_Store
Thumbs.db
